<title>Personal information</title>
<h3>Please fill out all fields</h3>
<div class="row no-gutters m-3">
  <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow text-center">
    <div class="card-header text-center">
      <h3 class="m-0 text-center">Get a quote</h3>
    </div>
    <div class="card-body text-center">
      @using (Html.BeginForm("GetQuote", "Home", FormMethod.Post))
      {
          <div class="row no-gutters text-center">
            <div class="form-group col-md-12">
              <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
            </div>
            <div class="form-group col-md-12">
              <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
            </div> <div class="form-group col-md-12">
              <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address" />
            </div>
            @*<div class="form-group col-md-12">
              <input name="Quote" type="text" class="form-control" placeholder="Quote" />
            </div>*@
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      }
    </div>
  </div>
</div>